.header-text {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;

    background: #F8F8F8;
    }

.header-text h1 {
    position: absolute;
    width: 135px;
    height: 32px;
    left: 133px;
    top: 104px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;
}

.header-text h2 {
    position: absolute;
    width: 877px;
    height: 215px;
    left: 133px;
    top: 0px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;
}

.header-text img {
    height: 720px;
    width: 408px;
    max-width: 100%;
    border-radius: 0px;
    float: right;
    margin-left: 10px;
}

.header-text p {
    box-sizing: border-box;
    position: absolute;
    width: 575px;
    height: 142px;
    left: 135px;
    top: 447px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;
}

.price {
    position: absolute;
    width: 143px;
    height: 82px;
    left: 413px;
    top: 676px;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
    padding: 26px 74px 35px 73px;

    position: absolute;
    width: 88px;
    height: 22px;
    left: 413px;
    top: 676px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    /* line-height: 186%; */
    text-align: center;
    color: #272727;


}

.button {
    position: absolute;
    width: 278px;
    height: 82px;
    left: 135px;
    top: 650px;
    background: #161515;
    padding: 26px 74px 35px 73px;
    border: 0px;


    position: absolute;
    width: 131px;
    height: 21px;
    left: 135px;
    top: 676px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;

}
.button:hover {
    background-color: #333;
    color: #fff;
}

.container1 {
    background-color: #CECECE;
}

.container1 h3 {
    position: absolute;
    width: 171px;
    height: 41px;
    left: 621px;
    top: 943px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    text-align: center;

    color: #000000;
}

.container1 h4 {
    position: absolute;
    width: 285px;
    height: 62px;
    left: 564px;
    top: 984px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 112.5%;
    text-align: center;
    color: #000000;
}

.container1 img {

    position: absolute;
    width: 417px;
    height: 630px;
    left: 511px;
    top: 1130px;
    background: #F8F8F8;

    position: absolute;
    width: 286px;
    height: 410px;
    left: 582px;
    top: 1240px;
}

.container1 h5 {
    position: absolute;
    width: 285px;
    height: 27px;
    left: 576px;
    top: 1750px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.container1 p {
    box-sizing: border-box;

    position: absolute;
    width: 531px;
    height: 194px;
    left: 454px;
    top: 1850px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;

    text-align: center;
    color: #161515;
}

.container2 img{

    position: absolute;
    width: 496px;
    height: 630px;
    left: 472px;
    top: 2150px;
    background: #F8F8F8;

    position: absolute;
    width: 500px;
    height: 500px;
    left: 470px;
    top: 2215px;
    }

    .container2 h6 {

    position: absolute;
    width: 66px;
    height: 29px;
    left: 687px;
    top: 2747px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    color: #161515;
    }

    .container2 p {
    box-sizing: border-box;
    position: absolute;
    width: 510px;
    height: 196px;
    left: 465px;
    top: 2880px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    text-align: center;
    color: #161515;
    }

    .container3 h7 {
        position: absolute;
        width: 972px;
        height: 50px;
        left: 234px;
        top: 3200px;
        
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 186%;
        text-align: center;
        text-transform: capitalize;
        color: #161515;
    }

    .container3 h8 {
        position: absolute;
width: 178.03px;
height: 0px;
left: 631px;
top: 3260px;

border: 1px solid #707070;
    }

    .container3 p {
        position: absolute;
        width: 515px;
        height: 231px;
        left: 464px;
        top: 3285px;
        
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 170%;
        text-align: center;
        color: #161515;
    }